.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px 60px 10px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #fff;
}
form{
  width: 80%;
  background-color: #e8e8e8;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 10px 40px;
}
.name-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.name-input input{
  margin: 0px 5px 0px;
  outline: none;
  border: none;
  padding: 10px 8px;
  width: 100%;
  font-size: 0.9rem;
}






